Pillow
matplotlib
certifi==2018.11.29
chardet==3.0.4
fastkml==0.11
geographiclib==1.49
geopy==1.18.1
idna==2.8
lxml==4.3.1
numpy==1.16.1
OWSLib==0.17.1
pygeoif==0.7
pyproj==1.9.6
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
Shapely==1.6.4.post1
six==1.12.0
urllib3==1.24.1
